ENVIRONMENT=localhost
POSTGRES_USER=finances
POSTGRES_DB_AUTH=finances_auth
POSTGRES_DB_AUDIT=finances_audit
POSTGRES_DB_USER=finances_user
JWT_EXPIRY_H=168

# random uuid
POSTGRES_PASSWORD="" # <---------------- Preenche entre as aspas.

# random uuid
JWT_SECRET="" # <---------------- Preenche entre as aspas.

# random uuid
APP_SECRET="" # <---------------- Preenche entre as aspas.

# random md5
ENCRYPTION_KEY="" # <---------------- Preenche entre as aspas.

# auth database
AUTH_DB_TYPE=postgres
AUTH_DB_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB_AUTH}

# audit database
AUDIT_DB_TYPE=postgres
AUDIT_DB_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB_AUTH}

# user personal database
DEFAULT_USER_DB_TYPE=postgres
DEFAULT_USER_DB_DNS=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${DEFAULT_USER_DB}
DEFAULT_USER_DB=${POSTGRES_DB_USER}

